<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaapp">

    <application
        android:name="com.example.socialmediaapp.App"
        android:allowBackup="true"
        android:icon="@mipmap/instaclone_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/instaclone_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.socialmediaapp.UserProfile"></activity>
        <activity
            android:name="com.example.socialmediaapp.HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.socialmediaapp.SignUp"
            android:label="Create An Account" />
        <activity
            android:name="com.example.socialmediaapp.LogIn"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>